body{
    background: #f2f2f2;
}
h1{
    line-height: 0.67rem;
}
.content1 li{
    line-height: 0.88rem;
    border-bottom: 1px solid #f2f2f2;
    font-size: 0.26rem;
    color: #323232;
    background: #fff;
}
.content1 li:nth-of-type(4){
    border-top: 0.2rem solid #f2f2f2;
}
.content1 li label{
    width: 2rem;
}
.content1 li input{
    background: #fff;
    flex: 1;
}
input[type="submit"]{
    display: block;
    width: 6.9rem;
    height: 0.75rem;
    background: #2d9cff;
    text-align: center;
    font-size: 0.26rem;
    color: #fff;
    margin: 0 auto;
    margin-top: 0.3rem;
    line-height: 0.75rem;
    border-radius: 0.1rem;
    margin-bottom: 0.3rem;
}