header{
    position: fixed;
    width: 100%;
    z-index: 99;
    text-align: center;
    line-height: 0.88rem;
    height: 0.88rem;
    font-size: 0.32rem;
    color: #fff;
    background: #2d9cff;
    top:0;
}
header span{
    width:0.27rem;
    height: 0.42rem;
    background:  url(../images/back.png) no-repeat center center;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    float: left;
    position: relative;
    top:0.23rem;
    left: 0.3rem;
}
header:after{
    content:" ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
body{
    padding-top: 0.88rem;
}