body{
    background: #f2f2f2;
}
h1{
    border-top: 0.2rem solid #f2f2f2;
    line-height: 0.88rem;
    padding-left:0.3rem ;
    font-size: 0.26rem;
    color: #323232;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
}
article{
    padding:0.2rem 0.3rem;
    background: #fff;
}
article p{
    line-height: 0.4rem;
    font-size: 0.26rem;
    color: #999;
}