body{
    padding-top: 0.88rem;
    background: #f2f2f2;
}
.form li{
    padding: 0 0.3rem;
    margin-top: 0.2rem;
    position: relative;
}
input[type='text'],input[type='password']{
    height: 0.88rem;
    line-height: 0.88rem;
    width: 100%;
    font-size: 0.26rem;
    color: #999;
    background: #fff;
    padding-left: 0.2rem;
    box-sizing: border-box;
    -moz-box-sizing:border-box ;
    -webkit-box-sizing:border-box ;
}
input[type="submit"]{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    line-height: 0.75rem;
    width: 6.3rem;
    border-radius: 0.1rem;
    height: 0.75rem;
    font-size: 0.26rem;
    background: #2d9cff;
    color: #fff;
    margin-top: 0.1rem;
}
#confirm{
    position: absolute;
    width: 2rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.26rem;
    color: #fff;
    background: #2d9cff;
    border-radius: 0.08rem;
    right:0.5rem;
    top:0.14rem;
}
